# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Files
tcd.*

# Visual Studio
.vscode

# Executables
tcd

# Shared files copied from urfd during build
IP.cpp
IP.h
TCPacketDef.h
TCSocket.cpp
TCSocket.h
Timer.h
