# Unbind DVSI AMBE devices from ftdi_sio so libftd2xx (tcd) can use them.
# Other FTDI devices (USB serial converters) remain unaffected.
#
# Install on NAS host: sudo cp 99-ambe-unbind.rules /etc/udev/rules.d/
# Reload: sudo udevadm control --reload-rules
#
# USB-3003 / USB-3012 (AMBE3003, dual-channel FTDI FT2232H)
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6010", RUN+="/bin/sh -c 'for f in /sys/bus/usb/drivers/ftdi_sio/%k:*; do [ -e \"$f\" ] && echo $(basename $f) > /sys/bus/usb/drivers/ftdi_sio/unbind; done'"

# ThumbDV / DVstick-30 / USB-3000 (AMBE3000, single-channel FTDI)
# Uncomment if your AMBE3000 has a unique serial or you have no other 0403:6001 devices
# ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6001", RUN+="/bin/sh -c 'for f in /sys/bus/usb/drivers/ftdi_sio/%k:*; do [ -e \"$f\" ] && echo $(basename $f) > /sys/bus/usb/drivers/ftdi_sio/unbind; done'"
