[Unit]
Description=tcd hybrid transcoder
Requires=network.target
After=systemd-user-session.service network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tcd /usr/local/etc/tcd.ini
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
